Repository enthought/comtypes, pull requests merged in 2024-06, with the labels that each got.

#561 fix importing `_DispMemberSpec` in `automation`
  comtypes/automation.py
Labels: typing

#574 Make the `numpy` version installed in the CI workflow lower than `2.0.0`
  .github/workflows/autotest.yml
Labels: tests, npsupport

#575 Name change of component implementing record parameter testing.
  comtypes/test/test_dispifc_records.py
  source/CppTestSrv/CoComtypesDispRecordParamTest.cpp
  source/CppTestSrv/CoComtypesDispRecordParamTest.h
  source/CppTestSrv/MAKEFILE
  source/CppTestSrv/SERVER.CPP
  source/CppTestSrv/SERVER.IDL
Labels: tests

#569 Implement SAFEARRAY pointers and SAFEARRAYs as method parameters of a Dispatch Interface
  comtypes/automation.py
  comtypes/test/test_dispifc_safearrays.py
  source/CppTestSrv/CFACTORY.CPP
  source/CppTestSrv/CoComtypesDispSafearrayParamTest.cpp
  source/CppTestSrv/CoComtypesDispSafearrayParamTest.h
  source/CppTestSrv/MAKEFILE
  source/CppTestSrv/REGISTRY.CPP
  source/CppTestSrv/REGISTRY.H
  source/CppTestSrv/SERVER.CPP
  source/CppTestSrv/SERVER.IDL
Labels: enhancement, tests

#576 Change the default value of the 'extra' parameter in the 'create' method of tagSAFEARRAY subtypes.
  comtypes/safearray.py
  comtypes/test/test_midl_safearray_create.py
  source/CppTestSrv/SERVER.IDL
Labels: enhancement, tests
